*{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

body{
	background-color: #232656;
}

.container{
	width: calc(100% - 15px);
	height: 100vh;
	margin: auto;
	position: relative;
}

.message{
	width: calc(100% - 30px);
	position: absolute;
	top: 45%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	text-align: center;
	color: #FFFFFF;
}

.message .text{
	font-size: 60px;
	margin: 10px 0;
}

.message .text-light{
	font-size: 30px;
	font-weight: 300;
	margin: 10px 0;
}

.footer{
	position: fixed;
	right: 0;
	bottom: 0;
	margin: 15px;
	color: #FFFFFF;
	font-size: 14px;
}

.progress-bar{
	-webkit-transition: .1s;
	transition: .1s;
}

.overlay{
	z-index: -1;
	width: 100%;
	height: 100%;
	position: fixed;
	background: #FFF;
	opacity: 0;
	top: 0;
	left: 0;
	transition: all 3s;
	text-align: center;
}

.spooky-img{
	display: none;
	width: 100%;
	max-width: 500px;
	height: auto;
}

@media (max-width: 720px){
	.message .text{
		font-size: 40px;
		margin: 10px 0;
	}
}